<div class="home-container">
  <header>
    <top-toolbar></top-toolbar>
  </header>
  <mat-sidenav-container color="primary">
    <mat-sidenav class="nav" #sidenav mode="side" opened="true" [disableClose]="true">
      <mat-nav-list>
      <h1>Movies</h1>
      <a mat-list-item [routerLink]="'movies/search'">Search</a>
      <a mat-list-item [routerLink]="'movies/discover'">Discover</a>
      <a mat-list-item [routerLink]="'movies/favourites'">Favorites</a>
      </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
