<div class="container-fluid">
  <div class="row">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Movie Name</mat-label>
        <input formControlName="search" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year released</mat-label>
        <input formControlName="year" matInput  type="number"/>
      </mat-form-field>
      <button class="btn btn-primary" (click)="search()">Search</button>
    </form>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-lg-2 my-5" *ngFor="let movie of movies">
      <div
        class="card h-100"
        (click)="routeToMovie(movie)"
        style="width: 18rem"
        role="button"
      >
        <img
          src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text" style="font-size: 12px">
            {{ movie.overview }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="movies?.length === 0">
    <div class="col-md-12">
      <h1>No movies found</h1>
    </div>
  </div>
</div>
