@import "~bootstrap/scss/bootstrap";

.mat-button{
  width: 100px;
  margin-bottom: 10px!important;
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: white;
}
