<!-- <div class="container">

  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-md-8">

      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search for movie">
        <button class="btn btn-primary">Search</button>
      </div>



    </div>

  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
  <form [formGroup]="searchForm">
  <mat-form-field>
    <mat-label>Movie Name</mat-label>
    <input formControlName="search" matInput>

  </mat-form-field>
    <mat-form-field>
      <mat-label>Genres</mat-label>
      <mat-select formControlName="genre" multiple>
        <mat-option *ngFor="let genre of movieGenres" [value]="genre.id">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    </form>
    <button mat-button (click)="search()">Search</button>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-8 col-lg-2 my-5" *ngFor="let movie of moviesFound">

      <div class="card h-100" (click)="routeToMovie(movie)" style="width: 18rem" role="button">
        <img
          src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text" style="font-size: 12px">
            {{ movie.overview }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

